formulaire-robuste-y-note.onrender.com {
    root * /var/www/html/public

    php_fastcgi localhost:9000

    file_server

    tls {
        issuer acme {
            challenge http
        }
    }
}
