:{$PORT} {
    root * /var/www/html/public

    @acme_challenge {
        path /.well-known/acme-challenge/*
    }

    handle @acme_challenge {
        file_server
    }

    php_fastcgi localhost:9000
    file_server
}
